:root {
    --bs-link-color: #faebd7 !important;
    --bs-link-hover-color: #ffebcd !important;
    --bs-link-color-rgb: 250, 235, 215;
    --bs-link-hover-color-rgb: 255, 235, 205;
    
}

.navbar {
    background-color: #1a1a1a;
}
.navbar-text,
.navbar-brand,
.nav-link {
    font-family: "Certhas";
    color: whitesmoke !important;
    text-shadow: 0 0 1px;
}

body.bg-primary {
    background-color: #2a2d34 !important;
}

body.text-primary {
    color:antiquewhite !important;
    font-family: 'Georgia', 'Times New Roman', Times, serif !important;
}

:root a {
    text-decoration: none !important;
    color: var(--bs-link-color) !important;
}

:root a:hover {
    text-decoration: underline !important;
    color: var(--bs-link-hover-color) !important;
}

:root p {
    font-size: large !important;
}
